.editor-canvas-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.editor-canvas {
    width: 100%;
    height: 100%;
    display: block;
    cursor: grab;
}

.editor-canvas:active {
    cursor: grabbing;
}
